@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);



html, body {width:100%; overflow-x:hidden }
html, body, div, span,section, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code,del, dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td ,hr {margin:0;padding:0;font-size:100%}
body {min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top; }
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption span, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, {display:block}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle}
input, textarea {margin:0;padding:0}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}


.table{display:table; width:100%; height:100%;text-align:center;}
.table .cell{display:table-cell;  vertical-align:middle;}
.con{width:100%;  padding-top:100px; position:relative; z-index:3}



.iradiobox {position:relative;display:inline-block;}
.iradiobox img{position:relative;top:4px;}
.iradiobox + .iradiobox {margin-left:20px;}
.iradiobox label {position:relative;display:inline-block;height:36px;line-height:36px;padding-left:45px;font-size:14px;color:#fff;text-align:center;
-webkit-transition:all .3s;transition:all .3s}
.iradiobox label:after {content:'';display:block;position:absolute;top:0;left:0;width:36px;height:34px;background: url(../images/bg_radiobox.png) no-repeat 0 -44px;
-webkit-transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);}
.iradiobox label:before {content:'';display:block;position:absolute;top:0;left:0;width:36px;height:34px;background: url(../images/bg_radiobox.png) no-repeat 0 0px;opacity:0;z-index:10;
-webkit-transform:scale(0);
transform:scale(0);
-webkit-transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);}
.iradiobox .inp_radio {position:absolute;top:0;left:0;min-width:36px;min-height:34px;opacity:0;border:none;z-index:10}
.iradiobox .inp_radio:checked + label:after {opacity:0;
-webkit-transform:scale(0);
transform:scale(0);}
.iradiobox .inp_radio:checked + label:before {opacity:1;
-webkit-transform:scale(1);
transform:scale(1);}


.icheckbox {display:inline-block;position:relative;min-height:28px;line-height:1.4}
.icheckbox img{position:relative;top:4px;}
.icheckbox + .icheckbox {margin-left:20px;}
.icheckbox label {position:relative;display:inline-block;min-height:28px;padding-left:36px;font-size:14px;color:#fff;}
.icheckbox label:after {content:'';display:block;position:absolute;top:0;left:0;width:38px;height:38px;background: url(../images//bg_checkbox.png) no-repeat 0 -41px;
-webkit-transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);}
.icheckbox label:before {content:'';display:block;position:absolute;top:0;left:0;width:38px;height:38px;background: url(../images//bg_checkbox.png) no-repeat 0 0px;
-webkit-transform:scale(0);
transform:scale(0);
-webkit-transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);}
.icheckbox .inp_chk {position:absolute;top:0px;left:0px;min-width:28px;min-height:28px;border:none;opacity:0;z-index:100}
.icheckbox .inp_chk:checked  + label:after {opacity:0;
-webkit-transform:scale(0);
transform:scale(0);}
.icheckbox .inp_chk:checked  + label:before {opacity:1;
-webkit-transform:scale(1);
transform:scale(1);}



/*popup*/
.popwrap{ z-index:999;display:none;position:fixed;top:0;right:0;left:0;bottom:0;z-index:10001;box-sizing:border-box}
.pop_layer{width:841px; min-height:438px;  position:absolute;top: 50%;left: 0;right: 0;margin: 0 auto;  box-sizing: border-box;background:url(../images/pop_bg.png) no-repeat center center;}
.pop_in{width:100%;  height:100%;  min-height:408px;padding:50px 173px 0 173px; box-sizing:border-box;}
.popcon{width:100%;  height:100%; min-height:408px;display:table;}
.popcon .pop_close{display:block; width:63px; height:63px; position:absolute; right:119px; top:73px;}
.popcon .pop_txt{width:100%; height:100%; display:table-cell; vertical-align: middle;  text-align: center;}
.popcon .pop_txt strong{display:block;margin-bottom: 20px; font-size:25px; color:#e00e2a;}
.popcon .pop_txt.scroll {height:400px;display:block; padding:30px 0;overflow:hidden; overflow-y:scroll;  }
.popcon .pop_txt.scroll > p{padding:0 20px;  font-size:13px; text-align:left}
.popcon .pop_btn{width:100%; margin-top:52px; text-align:center; display:block;}
.bg_pop { display: block;position: fixed;left: 0;top: 0; width: 100%;height: 100%;background: rgba(0,0,0,.8);z-index:998;}
html.pop_open{overflow-y:hidden;height:100%}
#agree_info .pop_layer{min-height:450px;background:#625c91; border:solid 2px #c4b2d2;}
#agree_info .pop_in{padding:50px 30px 50px 30px;}
#agree_info .popcon{min-height:450px;}
#agree_info .popcon .pop_close{right:9px; background:url(../m_images/pop_close.png) no-repeat; background-size:cover;}
#agree_info .txt_agree{padding:0 20px; }
#agree_info .txt_agree .scroll_box{padding-right:30px; height:280px;overflow: hidden; overflow-y:scroll;}
#agree_info .txt_agree strong{display:block; font-size:15px; color:#bbaad5;}
#agree_info .txt_agree p{display:block; font-size:12px; color:#bbaad5; margin-bottom:20px; text-align:left; font-weight: 400; line-height:22px;}
#agree_info .txt_agree p span{display:block;font-weight:700}
