html, body {width:100%; height:100%;min-height:100%;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code,del, dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td ,hr {margin:0;padding:0;font-size:100%}
body {height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top; }
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption span, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle}
input, textarea {margin:0;padding:0}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
img{max-width:100%;}
html,body{width: 100%; height: 100%;min-height: 100%; ;}
img{max-width:100%;}




.table{display:table; width:100%; height:100%;text-align:center;}
.table .cell{display:table-cell;  vertical-align:top;}
.con{width:100%; padding-top:40px;  position:relative; z-index:3}



.iradiobox {position:relative;display:inline-block;}
.iradiobox img{position:relative;top:4px;}
.iradiobox + .iradiobox {margin-left:20px;}
.iradiobox label {position:relative;display:inline-block;height:36px;line-height:36px;padding-left:45px;font-size:14px;color:#fff;text-align:center;
-webkit-transition:all .3s;transition:all .3s}
.iradiobox label:after {content:'';display:block;position:absolute;top:0;left:0;width:36px;height:34px;background: url(../images/bg_radiobox.png) no-repeat 0 -44px;
-webkit-transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);}
.iradiobox label:before {content:'';display:block;position:absolute;top:0;left:0;width:36px;height:34px;background: url(../images/bg_radiobox.png) no-repeat 0 0px;opacity:0;z-index:10;
-webkit-transform:scale(0);
transform:scale(0);
-webkit-transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);}
.iradiobox .inp_radio {position:absolute;top:0;left:0;min-width:36px;min-height:34px;opacity:0;border:none;z-index:10}
.iradiobox .inp_radio:checked + label:after {opacity:0;
-webkit-transform:scale(0);
transform:scale(0);}
.iradiobox .inp_radio:checked + label:before {opacity:1;
-webkit-transform:scale(1);
transform:scale(1);}


.icheckbox {display:inline-block;position:relative;min-height:28px;line-height:1.4}
.icheckbox img{position:relative;top:4px;}
.icheckbox + .icheckbox {margin-left:20px;}
.icheckbox label {position:relative;display:inline-block;min-height:28px;padding-left:36px;font-size:14px;color:#fff;}
.icheckbox label:after {content:'';display:block;position:absolute;top:0;left:0;width:38px;height:38px;background: url(../images//bg_checkbox.png) no-repeat 0 -41px;
-webkit-transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);}
.icheckbox label:before {content:'';display:block;position:absolute;top:0;left:0;width:38px;height:38px;background: url(../images//bg_checkbox.png) no-repeat 0 0px;
-webkit-transform:scale(0);
transform:scale(0);
-webkit-transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);
transition:all .4s cubic-bezier(0.75, 0, 0.125, 1);}
.icheckbox .inp_chk {position:absolute;top:0px;left:0px;min-width:28px;min-height:28px;border:none;opacity:0;z-index:100}
.icheckbox .inp_chk:checked  + label:after {opacity:0;
-webkit-transform:scale(0);
transform:scale(0);}
.icheckbox .inp_chk:checked  + label:before {opacity:1;
-webkit-transform:scale(1);
transform:scale(1);}



/*popup*/
.popwrap{ z-index:999;display:none;position:fixed;top:0;right:0;left:0;bottom:0;z-index:10001;box-sizing:border-box}
.pop_layer{width:841px; min-height:438px;  position:absolute;top: 50%;left: 0;right: 0;margin: 0 auto;  box-sizing: border-box;background:url(../images/pop_bg.png) no-repeat center center;}
.pop_in{width:100%;  height:100%;  min-height:408px;padding:50px 173px 0 173px; box-sizing:border-box;}
.popcon{width:100%;  height:100%; min-height:408px;display:table;}
.popcon .pop_close{display:block; width:63px; height:63px; position:absolute; right:119px; top:73px;}
.popcon .pop_txt{width:100%; height:100%; display:table-cell; vertical-align: middle;  text-align: center;}
.popcon .pop_txt strong{display:block;margin-bottom: 20px; font-size:25px; color:#e00e2a;}
.popcon .pop_txt.scroll {height:400px;display:block; padding:30px 0;overflow:hidden; overflow-y:scroll;  }
.popcon .pop_txt.scroll > p{padding:0 20px;  font-size:13px; text-align:left}
.popcon .pop_btn{width:100%; margin-top:52px; text-align:center; display:block;}
.bg_pop { display: block;position: fixed;left: 0;top: 0; width: 100%;height: 100%;background: rgba(0,0,0,.8);z-index:998;}
html.pop_open{overflow-y:hidden;height:100%;-webkit-overflow-scrolling: touch;}
#agree_info {}
#agree_info .pop_layer{min-height:400px;background:#625c91; border:solid 2px #c4b2d2;}
#agree_info .pop_in{padding:50px 30px 50px 30px;}
#agree_info .popcon{min-height:400px;}
#agree_info .popcon .pop_close{right:9px; background:url(../m_images/pop_close.png) no-repeat; background-size:cover;}
#agree_info .txt_agree{padding:0 20px; -webkit-overflow-scrolling: touch; position:relative;}
#agree_info .txt_agree .scroll_box{ padding-right:30px; height:200px; overflow-y: auto!important; -webkit-overflow-scrolling: touch!important;}
#agree_info .txt_agree .scroll_boxin{position:relative; }
#agree_info .txt_agree strong{display:block; font-size:15px; color:#bbaad5;}
#agree_info .txt_agree p{display:block; font-size:12px; color:#bbaad5; margin-bottom:20px; text-align:left; font-weight: 400; line-height:22px;}
#agree_info .txt_agree p span{display:block;font-weight:700}
.scroll{ }
#item_info .table .cell{vertical-align:middle;}
.popwrap.open .txt_agree .scroll_box{ overflow-y: auto!important; -webkit-overflow-scrolling: touch!important;}
#wrap{width:100%;height: 100%;min-height: 100%;}
.con{height: 100%;height:640px; box-sizing:border-box; }
.tit{width:100%;display:block;text-align:center;}
header{width:100%; height:38px;position:fixed;left:0; top:0; background:url(../m_images/header_bg.png) repeat-x; z-index:11 }
header nav{display:table;width:100%; text-align:center;}
header nav a{display:table-cell; font-size:0px;width:25%;height:38px;background-size: auto 38px !important; background-position:center top !important;}
header nav a.gnb1{background:url(../m_images/gnb1.png) no-repeat;}
header nav a.gnb1.on{background:url(../m_images/gnb1_on.png) no-repeat;}
header nav a.gnb2{background:url(../m_images/gnb2.png) no-repeat;}
header nav a.gnb2.on{background:url(../m_images/gnb2_on.png) no-repeat;}
header nav a.gnb3{background:url(../m_images/gnb3.png) no-repeat;}
header nav a.gnb3.on{background:url(../m_images/gnb3_on.png) no-repeat;}
header nav a.gnb4{background:url(../m_images/gnb4.png) no-repeat;}
header nav a.gnb4.on{background:url(../m_images/gnb4_on.png) no-repeat;}
header .sns_bt{width:100%;padding-right:25px;box-sizing:border-box;position:absolute; left:0; top:45px; text-align:right;}
header .sns_bt a{display:inline-block; height:24.5px;background:url(../m_images/btn_sns.png) no-repeat;background-size:51px auto;}
header .sns_bt a.cafe{display:inline-block; width:24.5px; margin-right:10px; background-position:left top;  }
header .sns_bt a.facebook{display:inline-block; width:20px; margin-right:5px; background-position:right top;  }



.iradiobox label{height:18px; line-height:18px; padding-left:25px;}
.iradiobox .inp_radio{min-width:18px; min-height:18px;}
.iradiobox label:after{width:18px; height:18px; background-size:18px; background-position:0 -23px; top:4px;}
.iradiobox label:before{width:18px; height:18px; background-size:18px; top:4px;}
.iradiobox + .iradiobox{margin-left:10px;}
.form_bg{width:317px; height:40px; margin:0 auto; margin-top:10px; padding:5px 117.5px 5px 20px; box-sizing:border-box;background:url(../m_images/regist_form.png) no-repeat; background-size:100%; position:relative;}
.form_bg .btn_regist{width:111px; height:40px; position:absolute; right:0; top:0; font-size: 0}
.form_bg input[type="tel"]{width:100%; height:30px;box-sizing:border-box; border:none; background:none; font-size:12px;}
.icheckbox .inp_chk{min-width:14px; min-height:14px;}
.icheckbox label{min-height:14px; padding-left:22px;line-height:14px;}
.icheckbox label:before{width:19px; height:19px; background-size: 19px}
.icheckbox label:after{width:19px; height:19px; background-size: 19px; background-position:0 -21px;}
.icheckbox .btn{vertical-align:middle; display:inline-block;}

.pop_layer{width:360px; min-height:185px;background:url(../m_images/pop_bg.png) no-repeat;background-size:360px;}
.popcon{min-height:185px;}
.pop_in{min-height:185px; padding:0;}
.popcon .pop_close{width:31px; height:31px;right:28px; top:11px; }
.popcon .pop_btn{margin-top:25px;}
.popcon .pop_btn a img{width:175.5px;}

#agree_pop .pop_layer{background:url(../m_images/agree_pop.png) no-repeat;background-size:360px;}
#agree_pop .popcon{min-height: 395px;}
#agree_pop .popcon .pop_close{right:24px; top:21px;}
#agree_pop .popcon .pop_close1{width:175px; height:40px; display:block; position:absolute;left:86px; top:316px;}
#agree_info .pop_in{padding:0;}

#main, #regist, #sns, #around{width:100%;height:640px;}
#around{overflow:hidden}
#main .con{background:url(../m_images/bg1.jpg) no-repeat center top; background-size:100% 100%;  }
#regist .con{background:url(../m_images/bg2.jpg) no-repeat center top; background-size:100% 100% ;padding:0; }
#sns .con{background:url(../m_images/bg3.jpg) no-repeat center top; background-size:100% 100% ; }
#around .con{background:url(../m_images/bg4.jpg) no-repeat center top; background-size:100% 100% ; }
#sns .table .cell{vertical-align:top}
#regist .table .cell{vertical-align:middle}
#around .tit{vertical-align:top}
#sns .tit{max-width: 320px; margin:0 auto;}
.movie_bg{width:338px; height:186px; margin:0 auto;background:url(../m_images/movie_bg.png) no-repeat; background-size:100%; position:relative;}
.movie_bg .movie_bt{display:block; width:70px; height:50px; position:absolute; left:137px; top:67px;}
.regist_btn{width:100%; padding:0 85px;margin-top:20px; text-align:center;box-sizing:border-box;}
.angel{width:100%;text-align:center;}
.angel img{width:154.5px;}
.google_btn{width:336px; height:64.5px; margin:0 auto; margin-top:10px;background:url(../m_images/google_bg.png) no-repeat; background-size:336px; position:relative;}
.google_btn a{display:block; width:115px; height:40px;position:absolute; right:0; top:19px; font-size:0;}
.coffee_box{width:100%; margin-top:20px; text-align:center;position:relative;}
.coffee_box:after{content:""; display:block;width:100%; height:67.5px; background:url(../m_images/coffee_bg.png) no-repeat center top; background-size:140px;
position:absolute; left:-40px; top:0;}
.coffee_box span{width:67px;display:inline-block; position:relative; }
.coffee_box strong{display:block; position:relative; }
.coffee_box strong img{width:126px;}
.footer_bt{width:20%; height:27.5px; display:block; position:absolute; right:0; bottom:0;z-index:10;}


.map_con{width:100%; height:100%; position:absolute; left:0; top:0;z-index:8 }
.map_center{width:100%; height:100%;background:url(../m_images/map_center.png) no-repeat; background-size:100% 100%;}
.map_center > a{display:block; width:75px; height:60%; box-sizing:border-box;  position:absolute; top:30%;z-index:9;}
.map_center > a.mapbt_left{left:0;background:url(../m_images/mapbt_left.png) no-repeat center center; background-size:41.5px}
.map_center > a.mapbt_right{right:0;background:url(../m_images/mapbt_right.png) no-repeat center center; background-size:41.5px}
.map_center .map_grand,.map_left,.map_right{display:-webkit-flex;-webkit-align-items: center;display: flex;align-items: center;-webkit-transition:all .4s ease-in-out;transition:all .4s  ease-in-out; }
.map_center .map_grand{width:100%; height:60%; box-sizing:border-box; position:relative;top:33%;z-index:8;}
.map_center .map_grand a{width:99.5px;height:100px; margin:0 auto; background:url(../m_images/grand_holl.png) no-repeat left top;background-size:99.5px 100px;}
.map_left{ width:100%; height:100%;background:url(../m_images/map_left.png) no-repeat; background-size:100% 100%; position:absolute; left:-100%; top:0; z-index: 10}
.map_left a{width:30%; height:10%; display:block; margin-top:45%;}
.map_right{width:100%; height:100%;background:url(../m_images/map_right.png) no-repeat; background-size:100% 100%; position:absolute; left:100%; top:0; z-index: 10}
.map_right a{width:30%; height:10%; display:block; margin:45% 0 0 70%;}





.sns_box{padding:0 64px;}
#item_info .pop_layer{width:328px; height:501px; margin:0 auto; background:url(../m_images/layer_bg.jpg) no-repeat; background-size:100%;}
#item_info .popcon .pop_close{width:24px; height:24px;background:url(../m_images/pop_close.png) no-repeat;  background-size:100%; right:14px; z-index: 11}
#item_info .swiper-pagination{position:absolute; width:100%; left:0; top:5px; z-index:10; text-align:center; color:#dcdddd; font-size:20px; font-weight:700}
.rolling_form{width:100%; height:100%;overflow:hidden; margin:0 auto;position:relative;}
.rolling_form ul{width:10000%;height:100%; overflow:hidden; position:relative;}
.rolling_form ul li{width:100%;height:100%;  overflow:hidden; float:left; }
.swiper-button-next,.swiper-button-prev{position:absolute; top:0;height:100%;}
.swiper-button-next{width:40px; right:0;  background:url(../m_images/pop_right.png) no-repeat center center; background-size:24px;}
.swiper-button-prev{width:40px;left:0;  background:url(../m_images/pop_left.png) no-repeat center center;background-size:24px;}
.swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{opacity: 0.5}
.item_box{}
.item_box span{display:block;}
.item_box span.item_tx{margin-top:38px;}

@media screen and (max-width: 320px){
#main, #regist, #sns, #around,.con{width:100%; max-width:320px;}
}