@import url(common.css);


#wrap{width:100%; height:100%;}
#main{position:relative;}
header{width:100%; height:76px; background:url(../images/header_bg.png) repeat-x; position:fixed; z-index:11 }
header nav{display:table;width:100%; height:76px; text-align:center;}
header nav a{display:inline-block; height:76px;text-align:center; font-size:0; margin-left:40px; vertical-align:top;}
header nav a:nth-of-type(1){width:91px; background:url(../images/gnb1.png) no-repeat; margin-left:0;}
header nav a:nth-of-type(1):hover{background:url(../images/gnb1_on.png) no-repeat;}
header nav a.on:nth-of-type(1){background:url(../images/gnb1_on.png) no-repeat;}
header nav a:nth-of-type(2){width:150px;background:url(../images/gnb2.png) no-repeat;display:inline-block; text-align:center;}
header nav a:nth-of-type(2):hover{background:url(../images/gnb2_on.png) no-repeat;}
header nav a.on:nth-of-type(2){background:url(../images/gnb2_on.png) no-repeat;}
header nav a:nth-of-type(3){width:165px;background:url(../images/gnb3.png) no-repeat;display:inline-block; text-align:center;}
header nav a:nth-of-type(3):hover{background:url(../images/gnb3_on.png) no-repeat;}
header nav a.on:nth-of-type(3){background:url(../images/gnb3_on.png) no-repeat;}
header nav a:nth-of-type(4){width:144px;background:url(../images/gnb4.png) no-repeat;display:inline-block; text-align:center;}
header nav a:nth-of-type(4):hover{background:url(../images/gnb4_on.png) no-repeat;}
header nav a.on:nth-of-type(4){background:url(../images/gnb4_on.png) no-repeat;}


.con{ padding-top:100px;}
#main .con{background:url(../images//bg_1.jpg) center top; background-size:cover; }
#main .right_ele{width:316px; min-height:284px;background:url(../images//bg1_ele1.png); position:absolute;z-index:4; top:130px;left:805px; }
#main .left_ele{width:248px; min-height:251px;background:url(../images//bg1_ele.png); position:absolute;z-index:4;top:208px; left:5px;}
.elebox{width:990px;height:100%; margin:0 auto;  position:relative; }
.tit{display:block; text-align:center;}
.movie{ background:url(../images//movie.png) no-repeat; width:705px; height:374px; margin:0 auto;position:relative;}
.btn_box{width:100%; margin:10px 0 197px 0; text-align:center; }
.movie .layer_bt{display:block; width:147px; height:130px; position:absolute; left:279px; top:119px;}
.right_bar{width:170px; height:90%;position:fixed; right:0; top:0; z-index:6}
.right_bar .right_con{width:92px; height:250px; margin-top:400px;background:rgba(0,0,0, .5); position:relative;}
.right_bar .right_con span{display:block; width:132px; height:148px; position:absolute; left:-40px; top:-40px; background:url(../images//boy1.png) no-repeat;animation: swing 1.9s infinite ease-out;}
.right_bar .right_con a{display:block; text-align:center; margin-top:15px;}
.right_bar .right_con a:first-child{padding-top:116px;}
.right_bar.topbt .right_con a{margin-top:20px;}
.right_bar.topbt .right_con a:first-child{padding-top:96px;}
.right_bar.topbt .right_con span{height:100px;background:url(../images//btn_top.png) no-repeat;left:0px; top:0px; cursor:pointer;animation-play-state: paused;transform: rotate(0deg) }
#regist .con{background:url(../images//bg_2.jpg) no-repeat center top;background-size:cover;}
.regist_main{width:925px;margin:0 auto; padding-bottom:90px; position:relative;}
.label_box{margin-left:37px;text-align:left;}
.form_bg{width:898px; height:80px; margin:0 auto; margin-top:20px;padding:0 363px 0 68px; position:relative; box-sizing:border-box; background:url(../images//input_form.png) no-repeat left center; }
.form_bg input[type="text"],.form_bg input[type="tel"]{width:100%; height:80px; padding:5px 10px; box-sizing:border-box;background:none; border:none; font-size:25px; color:#7f7f7f;}
.form_bg .btn_regist{width:350px; height:80px; display:block; position:absolute; right:0; top:0;font-size:0;}
.btn{margin-left:15px;}
.regist_form .icheckbox{margin:15px 0 70px 0;}
.google_btn{width:968px; height:133px; margin:0 auto;margin-left:-40px;background:url(../images//bg_google.png) no-repeat left top; position:relative; }
.google_btn a{width:462px; height:133px;display:block; font-size:0; position:absolute; right:0; top:0;}
.bg2_ele1,.bg2_ele2,.bg2_ele3{display:block; position:absolute;}
.bg2_ele1{width:152px; height:178px;background:url(../images//bg2_ele.png) no-repeat; top:313px;left:712px; }
.bg2_ele2{width:136px; height:167px;background:url(../images//bg2_ele1.png) no-repeat;  top:292px; left:169px;}
.bg2_ele3{width:136px; height:153px;background:url(../images//bg2_ele2.png) no-repeat;top:457px;left:30px;}
#sns .con{background:url(../images//bg_3.jpg) no-repeat center top;background-size:cover;}
.coffee{width:440px; margin:0 auto;padding:30px 0px 0 0px; box-sizing:border-box;background:url(../images//count.png) no-repeat right top;text-align:center; position:relative; top:-70px;}
.coffee span{display:inline-block; position:relative;left:30px; }
.coffee em{display:block; position:relative;left:40px; margin-top:10px; }
.sns_txt{width:827px; margin:0 auto; padding-left:80px; box-sizing:border-box;}
.sns_txt .btn_box{margin:30px 0 26px 0;}
.sns_txt .btn_box a{display:inline-block; }
.sns_txt .btn_box+div{margin-bottom:30px;}
#around .con{background:url(../images//bg_4.jpg) no-repeat center top;background-size:cover; padding-bottom:100px;}
#around .map{width:1339px; height:690px; margin:0 auto; background:url(../images//map_bg.png) no-repeat; background-size:100%; position:relative;}
#around .map > a{display:block;width:189px; height:189px; position:absolute; }
#around .map a.btn_around1{left:152px; top:169px;}
#around .map a.btn_around2{left:552px; top:290px;}
#around .map a.btn_around3{left:992px; top:158px;}
.footer{width:100%; height:58px; background: #141b25}
.footer:after{content:""; display:block; clear:both;}
.footer .footer_con{width:1270px; margin:0 auto;}
.footer .footer_conafter{content:""; display:block; clear:both;}
.footer .footer_con span{display:inline-block; float:right; vertical-align:middle;}
.footer .footer_con span:first-child{float:left;}
.angel{position:relative;}
.angel img{position:relative;z-index:2;animation: angel_mo 3s infinite ease-in-out;}
.angel:after{content:""; display:block; width:305px; height:302px;position:absolute; background:url(../images/light_bg.png) no-repeat; left:320px; top:0; z-index:1;
 animation: angel 5s infinite ease-in-out;}

@keyframes angel {
 0% {transform: rotate(40deg);}
50% {transform: rotate(-60deg);}
100% {transform: rotate(40deg);}
}
@keyframes angel_mo{
 0% { transform: scale3d(1.1,1.1,1.1);}
 50% { transform: scale3d(1,1,1);}
100% { transform:scale3d(1.1,1.1,1.1);}
}
.dec{display:block; position:absolute; width:100%;left:0; top:59px;text-align:center;}
.light_bg{display:block; width:393px; height:398px;background:url(../images/bg_light.png) no-repeat left center; position:absolute; left:740px; top:40px;animation: swing_light 1.0s infinite ease-out;}

.grand_stage{width:1242px; height:786px; position:relative; z-index:10; perspective: 500px;}
.grand_stage > span{display:block; position:absolute;}
.grand_stage > span >span{display:block; width:100%; height:100%; position:absolute;-webkit-transition:.4s .2s ease-in-out;transition:.4s .2s ease-in-out;}
.grand_stage > span > em{display:block; position:absolute;left:-70px; top:100px; z-index:11 }
.grand_stage span.icon_mary{width:127px; height:119px;left:560px; top:309px}
.grand_stage span.icon_mary > span{ background:url(../images/icon_mary.png) no-repeat left center; animation: thing 4s infinite  ease-in-out; }
.grand_stage span.icon_boy {width:164px; height:149px; left:100px; top:201px;}
.grand_stage span.icon_boy > span {background:url(../images/boy.png) no-repeat center center; animation: swing 5s infinite  ease-in-out;}
.grand_stage span.icon_ado{width:104px; height:123px; left:800px; top:515px;}
.grand_stage span.icon_ado > span {background:url(../images/icon_ado.png) no-repeat center center;animation: walk_motion 5s infinite  ease-in-out;}
.grand_stage span.icon_chu{width:108px; height:130px; left:220px; top:151px;}
.grand_stage span.icon_chu > span {background:url(../images/icon_chu.png) no-repeat center center;animation: thing 3.0s infinite  ease-in-out;}
.grand_stage span.icon_devil{width:101px; height:111px; left:460px; top:481px;}
.grand_stage span.icon_devil > span {background:url(../images/icon_devil.png) no-repeat center center; animation: thing 10s infinite  ease-in-out;}
.grand_stage span.icon_hr{width:109px; height:133px; left:460px; top:321px;}
.grand_stage span.icon_hr > span {background:url(../images/icon_hr.png) no-repeat center center; animation: thing1 5s infinite  ease-in-out;}
.grand_stage span.icon_kiti{width:128px; height:142px; left:580px; top:686px;}
.grand_stage span.icon_kiti > span {background:url(../images/icon_kiti.png) no-repeat center center; animation: swing 5s infinite  ease-in-out;}
.grand_stage span.icon_kiti em{top:-200px;}
.grand_stage span.icon_man{width:94px; height:117px; left:710px; top:291px;}
.grand_stage span.icon_man > span {background:url(../images/icon_man.png) no-repeat center center;animation: swing_ele 6s infinite  ease-in-out;}
.grand_stage span.icon_night{width:131px; height:135px; left:1100px; top:491px;}
.grand_stage span.icon_night > span {background:url(../images/icon_night.png) no-repeat center center;animation: walk_motion 10s infinite  ease-in-out;}
.grand_stage span.icon_night em{left:-220px; top:-170px;}
.grand_stage span.icon_phantom{width:120px; height:149px; left:370px; top:391px;}
.grand_stage span.icon_phantom > span {background:url(../images/icon_phantom.png) no-repeat center center ; animation: phantom 10s infinite  ease-in-out;}
.grand_stage span.icon_sali{width:132px; height:126px; left:210px; top:561px;}
.grand_stage span.icon_sali > span {background:url(../images/icon_sali.png) no-repeat center center ; animation: swing 8s infinite  ease-in-out;}
.grand_stage span.icon_sali  em{top:-200px;}
.grand_stage span.icon_sami{width:123px; height:179px; left:550px; top:451px;}
.grand_stage span.icon_sami > span {background:url(../images/icon_sami.png) no-repeat center center ;   animation: swing_ele 3s infinite  ease-in-out;}
.grand_stage span.icon_zt{width:103px; height:119px; left:840px; top:651px;}
.grand_stage span.icon_zt > span {background:url(../images/icon_zt.png) no-repeat center center;animation: thing1 3s infinite  ease-in-out; }
.grand_stage span.icon_zt em{top:-200px;}

#around2 .pop_layer{width:1303px; min-height:841px; background:url(../images/pop_bg1.png) no-repeat center center;}
#around2 .popcon .pop_close{width:79px; height:79px; top:50px; right:42px; z-index:11}
#around2 .pop_in{padding:20px;min-height:841px;}
#around2 .popcon{min-height:841px;}
.w1300{width:1300px;} 
.w800{width:800px;} 
.w800 .popcon .pop_close{right: 20px;top: 25px; } 
.w1300 .popcon{padding:60px 0; background-size:566px auto;}

#agree_pop .pop_layer{width:974px; height:793px;background:url(../images/agree_pop.png) no-repeat center center;}
#agree_pop .popcon .pop_close{right:112px; top:53px;}
#agree_pop .popcon .pop_close1{left:312px; top:643px; position:absolute; width:351px; height:80px;}
#agree_info .popcon .pop_close{right:19px; top:20px;}
#agree_info .txt_agree strong{font-size:20px;}
#agree_info .txt_agree .scroll_box{height:460px;}
#agree_info .txt_agree p{font-size:13px;}




#main .elebox .right_ele,#main .elebox .left_ele, .tit,#main .movie{-webkit-transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);opacity:0; filter: blur(5px);}
#main .con{padding:140px 0 0 0; filter: blur(5px);}
.con,.tit{opacity:1;-webkit-transition:all .5s cubic-bezier(0.75, 0, 0.125, 1);transition:all .5s cubic-bezier(0.75, 0, 0.125, 1); }
#main .elebox .right_ele{transform:scale3d(1.2,1.2,1.2); filter: blur(15px);left:1050px;}
#main .elebox  .left_ele{transform:scale3d(1.2,1.2,1.2); filter: blur(15px); left:-40px;}
#main .con{filter: blur(2px);transform:scale3d(1.2,1.2,1.2)}
#main .movie{transform:scale3d(1.2,1.2,1.2); filter: blur(10px);animation-delay: .5s}
#main.motion .elebox.start .right_ele, #main.motion .elebox.start .left_ele,#main.motion .movie{transform:scale3d(1,1,1); filter: blur(0px);opacity:1; }
.motion .tit{animation: textmotion .3s;opacity:1; filter: blur(0px);}
.motion .con{filter: blur(0px) !important;opacity:1;}
#regist .tit{filter: blur(0px) !important;}
#regist.motion .tit{animation: textmotion1 .3s;opacity:1; }
#main.motion .elebox.start .right_ele{left:805px; }
#main.motion .elebox.start  .left_ele{left:5px;}

#regist .bg2_ele1,#regist .bg2_ele2,#regist .bg2_ele3{-webkit-transition:all .6s cubic-bezier(0.75, 0, 0.125, 1);transition:all .6s cubic-bezier(0.75, 0, 0.125, 1);opacity:0; filter: blur(10px);}
#regist .bg2_ele1{-webkit-transform:translate3d(600px,0px,0px);transform:translate3d(600px,0px,0px);animation-delay:.2s}
#regist .bg2_ele2{-webkit-transform:translate3d(-400px,0px,0px);transform:translate3d(-400px,0px,0px);animation-delay:.4s}
#regist .bg2_ele3{-webkit-transform:translate3d(-200px,0px,0px);transform:translate3d(-200px,0px,0px); animation-delay:.6s}
#regist.motion .bg2_ele1,#regist.motion .bg2_ele2,#regist.motion .bg2_ele3{opacity:1; filter: blur(0px);  filter: blur(0px);-webkit-transform:translate3d(0px,0px,0px);transform:translate3d(0px,0px,0px);}
#regist.motion .bg2_ele2{ animation: swing_ele 2s infinite  ease-in-out;}
#regist.motion .bg2_ele1{ animation: swing_ele 1.9s infinite ease-in-out;}
#regist.motion .bg2_ele3{ animation:walk 5.9s infinite ease-in-out;}
.coffee img{
	-webkit-transition:all .3s cubic-bezier(0.75, 0, 0.125, 1);
	transition:all .3s cubic-bezier(0.75, 0, 0.125, 1);
	transform: rotate3d(0, 1, 0, -270deg);
	-webkit-transition-delay:.4s;transition-delay:.4s
}
.motion .coffee img{transform: rotate3d(0,0,0,0);opacity:1;}

@keyframes swing_light {
 0% { transform: rotate(-1deg);}
50% { transform: rotate(1deg);}
100% { transform: rotate(-1deg);}
}

@keyframes swing {
0% { transform: rotate(10deg) translate3d(0, 5px, 0);}
25% { transform: rotate(-5deg) translate3d(0, 0px, 0);}
50% { transform: rotate(10deg) translate3d(0, -5px, 0);}
75% { transform: rotate(-5deg) translate3d(0, 0px, 0);}
100% { transform: rotate(10deg) translate3d(0, 5px, 0);}
}
@keyframes textmotion { 
0% { transform: rotate(10deg) scale3d(1.2,1.2,1.2);filter: blur(2px); }
25% { transform: rotate(-5deg) scale3d(1,1,1); filter: blur(5px);}
50% { transform: rotate(10deg) scale3d(0.8,0.8,0.8); filter: blur(1px);}
75% { transform: rotate(-5deg) scale3d(1,1,1); filter: blur(1.5px);}
100% { transform: rotate(10deg) scale3d(1,1,1);filter: blur(0px);}
}
@keyframes textmotion1 { 
0% { transform: rotate(10deg) scale3d(1.2,1.2,1.2);filter: blur(3px);}
25% { transform: rotate(-5deg) scale3d(1,1,1);filter: blur(2px);}
50% { transform: rotate(10deg) scale3d(0.8,0.8,0.8);filter: blur(5px);}
75% { transform: rotate(-5deg) scale3d(1,1,1); filter: blur(0.5px);}
100% { transform: rotate(10deg) scale3d(1,1,1);filter: blur(0px);}
}
@keyframes swing_ele {
0% { transform: rotate(5deg) translate3d(0, 5px, 0); opacity:1 }
30% { transform: rotate(-5deg) translate3d(0, -5px, 0);opacity:0.5}
60% { transform: rotate(5deg) translate3d(0, 5px, 0);opacity:0.8}
100% { transform: rotate(-5deg) translate3d(0, 5px, 0);opacity:1}
}
@keyframes walk {
0% { transform:translate3d(0px, 0px, 0) ; opacity:1 }
30% { transform: translate3d(200px, 0px, 0);opacity:0.2}
60% { transform: translate3d(0px, 0px, 0) rotateY(180deg); opacity:1}
100% { transform:translate3d(-200px, 0px, 0) ;opacity:1}
}

@keyframes thing {
0% { transform:translate3d(0px, 10px, 0) ;}
10% { transform:translate3d(0px, 0px, 0) ;}
25% { transform: translate3d(0px, 10px, 0);}
30% { transform: translate3d(0px, 0px, 0);}
45% { transform: translate3d(0px, 10px, 0);}
50% { transform: translate3d(0px, 0px, 0);}
65% { transform: translate3d(0px, 3px, 0);}
70% { transform: translate3d(0px, 0px, 0);}
85% { transform: translate3d(0px, 3px, 0);}
90% { transform: translate3d(0px, 0px, 0);}
95% { transform: translate3d(0px, 3px, 0);}
100% { transform:translate3d(0px, 0px, 0);}
}

@keyframes phantom {
0% { transform: rotate3d(0, 1, 0, -180deg); }
30% {transform: rotate3d(0, 1, 0, -90deg);}
60% { transform: rotate3d(0, 1, 0, 0deg);opacity:0.5}
90% {transform: rotate3d(0, 1, 0, 90deg);opacity:1}
100% {transform: rotate3d(0, 1, 0, 180deg);}
}

@keyframes thing1 {
0% { transform:translate3d(0px, 8px, 0); opacity:0.5}
25% { transform:translate3d(0px, 5px, 0); opacity:1}
50% { transform:translate3d(0px, 0px, 0); opacity:1}
100% { transform:translate3d(0px, 5px, 0); opacity:0.5}
}

@keyframes walk_motion {
0% { transform:translate3d(0px, 0px, 0);}
10% { transform:translate3d(0px, -5px, 0);}
30% { transform: translate3d(0px, -10px, 0);}
50% {transform:translate3d(5px, 0px, 0);}
70% {transform:translate3d(5px, 8px, 0);}
90% {transform:translate3d(0px, 0px, 0); opacity:0.5}
100% { transform: translate3d(0px, -5px, 0);opacity:1}
}

@media screen and (max-width: 1679px){

}
@media screen and (max-width: 1536px){
 .right_bar{right:-40px;}
}
@media screen and (max-width: 1300px){

}





